{% extends "base.html" %}
{% block title %}Inicio{% endblock %}

{% block content %}
<div class="contenedor">
  <h2>Bienvenido al Sistema de Gestión</h2>
  <p>Seleccione el tipo de acceso:</p>

  <div style="display: flex; justify-content: center; gap: 20px;">
    <a href="{{ url_for('auth_bp.login_admin') }}">
      <button>👑 Login Administrador</button>
    </a>
    <a href="{{ url_for('auth_bp.login_empleado') }}">
      <button>👷 Login Empleado</button>
    </a>
  </div>
</div>
{% endblock %}
